* {
    margin: 0 auto;
    padding: 0;
    
}

body {
    width: 1600px;
    display: block;
    font-family: "Roboto", sans-serif;
    color: #626262;
    font-size: 14px;
    font-weight: 400; 
    color: #515151;
    margin: auto;
}

header {
    width: 1100px;
    position: relative;
    margin: 45px 0 35px 250px;
    }

.logo {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
}

.logo::first-letter {
    color: #1abc9c;
}

header li:hover {
    color: #1abc9c;
}

header ul {
    width: 50%;
    position: absolute;
    right: 0px;
    top: 8px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    color: #0f0101;
}

header ul li {
    display: inline-block;
    list-style-type: none;
    /* Убираем маркеры */
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;
}

.slider {
    
    background-image: url('../img/slide4.jpg');
    background-size: cover;
    height: 600px; 
    position: relative;
    }

h2 {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
}

.description {
    font-size: 24px;
    font-weight: 400;
}

.slider button {
    display: inline-block;
    size: 105px;
    border: none;
    text-decoration: none;
    width: 105px;
    height: 105px;
    font-size: 38px;
    font-family: 'Arial'; 
    line-height: 11px;
    background-color: #1abc9c;
    color: #ffffff;
    font-stretch: narrower;
    opacity: 0.7;
    font-variation-settings: "wdth" 1;
    margin: auto;
        }

.slider button:hover { opacity: 1;}

.to_left {
    position: absolute;
    top: 220px;
    left: 265px;
}

.to_right {
    position: absolute;
    top: 225px;
    left: 1275px;
}

.shop {background-color: #e9f0fd}

.with_after {
    display: block
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    line-height: 110px;
    padding: 50px;
}

.with_after::after {
    display: block;
    content: '';
    width: 160px;
    height: 10px;
    background-color: #1abc9c;
    text-align: center;
    margin: 0 auto 80px;
}

.goods {
    display: block;
    width: 1100px;
    max-width: 100%;
    position: relative;
}

.goods li {
    display: inline-block;
    list-style-type: none;
    height: 322px;
    width: 250px;
    }

.good:not(:nth-child(4n)) {
        margin-right: 20px;
      }

.good img { 
    display: block;
    max-width: 100%; 
    }

.good:hover .good:before {
    display: block;
    content: '';
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    width: 200px;
    height: 300px;
}





.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}