*
{
margin: auto;
padding: 0;
text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
   /* font-family: "Playfair Display", "Arial", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; */
    width: 1140px;
    color: #515151;
    display: block;
    margin: 0 auto;

  }


.good {
  float: left;
  width: 255px;
  height: 322px;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
}

.good:not(:nth-child(4n)) {
  margin-right: 28px;
}

.good:not(:nth-last-child(-n+4)) {
  margin-bottom: 28px;
}


.content_image {
  float: left;
  margin: auto;
  width: 255px;
  height: 282px;
  background-color: #e9f0fd;
  position: relative;
}

.content_image>img {
  
  margin: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.good_title {
  float: left;
  width: 200px;
  background-color: #323232;
  
}



.good_price {
  float: left;
  width: 55px;
  background-color: #8c8c8c;
}

.good:hover .good_title { background-color: #1abc9c;}
.good:hover .good_price { background-color: #7fd9c7;}

  


header {
    
  margin: 10px 0px 30px 0px; 
  }

.navigation {
    float: right;
}

.logo {
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
}

.logo::first-letter {
    color: #1abc9c;

}

header a {
   /* color: #626262;
    text-transform: uppercase;
    text-decoration: none;   
    text-align: center; */   
  }

header li:hover {
    color: #1abc9c; 
  }

header ul {

 line-height: 32px;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 700; 
   
}
  
header ul li {
    display: inline-block;
    list-style-type: none; /* Убираем маркеры */
    text-align: center;
    margin-right: 3%;
    margin-left: 3%;    
   }




h2 {
   /* font-size: 30px;
    line-height: 36px; 
    font-weight: 400; */

}



footer {
 /*   box-sizing: border-box;
    margin: auto;
    border: #626262 solid 1px;
    width: 200px;
    text-align: center; */
} 






.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}